body{
	background-color:#d8d8d8;
	background-size:cover;
	margin: 0px 0px 0px 0px;
}
header{
	background-color: #444444;
	height: 150px;
	width:100%;
	
}
footer{
	background-color: #222222;
	height: 100px;
	width:60%;
	margin: 0% 20% 0% 20%;
	padding-bottom: 0%
}
.center{
	background-color: white;
	height:800px;
	width: 60%;
	margin: 0% 20% 0% 20%;
}